.circular {
     width: 300px; 
     height: 300px;
      border-radius: 150px;
       -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
         background: url(http://www.tublog.com/tuimagen.jpg)
          no-repeat;
         } 
.circular img { 
             opacity: 0;
              filter: alpha(opacity=0);
          }